.ui {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.selectedAirport,
.toggles {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.toggles {
    margin-left: auto;
}

.toggles label {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}